.btn{
    color: black;
    font-size: 1.2rem;
    font-family: serif;
    font-weight: 600;
    transition: 0.3s;
}

.btn:hover{
    background-color: #060f74;
    color: rgb(255, 255, 255);
    transition: 0.3s;
}

.card{
    padding: 10px;
    line-height: 2.2rem;
    transition: 0.3s;
    display: flex;
    border: #060f74 2px solid;
    height: 20rem;
    width: 52rem;
    overflow: hidden;
    gap: 2rem;


}

img{
    width: 20rem;
    height: 200px;
    object-fit: cover;
    border-radius: 5px;
    margin-bottom: 10px;
    display: flex;
    align-content: center;
    margin-top: 5%;
}

.card:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(217, 9, 9, 0.19);
    transition: 0.3s;
    transform: scale(1.1);

}

.cardBody{
    display: flex;
    max-width: 15rem;
    font-weight: bold;
    flex-direction: column;
    justify-content: center;
    align-items: center;}

.btnToggle{
    margin: 1rem;
    padding: 0.5rem;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 8px;
    width: 250px;
    background-color: rgb(249, 248, 248);
    color: black;
}

.btnToggle:hover{
    background-color: #060f74;
    color: rgb(255, 255, 255);
    transition: 0.3s;
}