.btn{
    color: black;
    font-size: 1.2rem;
    font-family: serif;
    font-weight: 600;
    transition: 0.3s;
}

.btn:hover{
    background-color: #060f74;
    color: rgb(255, 255, 255);
    transition: 0.3s;
}

.card{
    border: #060f74 2px solid;
    padding: 10px;
    line-height: 2.2rem;
    transition: 0.3s;
}

img{
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 5px;
    margin-bottom: 10px;}

.card:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(217, 9, 9, 0.19);
    transition: 0.3s;
    transform: scale(1.1);

}
